---
http_interactions:
- request:
    method: post
    uri: https://api.thetradedesk.com/v3/creative/query/advertiser
    body:
      encoding: UTF-8
      string: '{"AdvertiserId":"advertiser_id","PageStartIndex":0,"PageSize":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"An auth token must be supplied via the ''TTD-Auth'' header."}'
  recorded_at: Wed, 11 May 2016 18:20:19 GMT
- request:
    method: post
    uri: https://api.thetradedesk.com/v3/authentication
    body:
      encoding: UTF-8
      string: '{"Login":"login","Password":"password"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"Invalid credentials. Please check them and try again."}'
  recorded_at: Wed, 11 May 2016 18:20:19 GMT
- request:
    method: post
    uri: https://api.thetradedesk.com/v3/creative/query/advertiser
    body:
      encoding: UTF-8
      string: '{"AdvertiserId":"advertiser_id","PageStartIndex":0,"PageSize":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"An auth token must be supplied via the ''TTD-Auth'' header."}'
  recorded_at: Wed, 11 May 2016 18:20:19 GMT
recorded_with: VCR 3.0.1
